:80 {
  tls off
  redir https://{hostonly}{uri}
}

{$CADDY_URL}:443 {
  tls {$CADDY_TLS}
  errors stderr

  basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
  root /www
}

{$CADDY_URL}:3000 {
  tls {$CADDY_TLS}
  errors stderr

  proxy / grafana:3000 {
    transparent
    websocket
  }
}

{$CADDY_URL}:9000 {
  tls {$CADDY_TLS}
  errors stderr

  proxy / portainer:9000 {
    transparent
    websocket
  }
}

{$CADDY_URL}:9090 {
  tls {$CADDY_TLS}
  errors stderr

  basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
  proxy / prometheus:9090 {
    transparent
  }
}

{$CADDY_URL}:9091 {
  tls {$CADDY_TLS}
  errors stderr

  basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
  proxy / pushgateway:9091 {
    transparent
  }

  basicauth /metrics/job/ {$PUSH_USER} {$PUSH_PASSWORD}
  proxy /metrics/job/ pushgateway:9091 {
    transparent
  }
}

{$CADDY_URL}:9093 {
  tls {$CADDY_TLS}
  errors stderr

  basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
  proxy / alertmanager:9093 {
    transparent
  }
}

{$CADDY_URL}:9094 {
  tls {$CADDY_TLS}
  errors stderr

  basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
  proxy / unsee:8080 {
    transparent
  }
}

{$CADDY_URL}:9095 {
  tls {$CADDY_TLS}
  errors stderr

  basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
  proxy / alertmanagerB:9093 {
    transparent
  }
}

# swarmstack_net access to Caddy Prometheus metrics
:9180 {
  tls off
  errors stderr

  prometheus {
    use_caddy_addr
  }
}

{$CADDY_URL}:19999 {
  tls {$CADDY_TLS}
  errors stderr

  basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}

##SWARMSTACK MARKER
#  proxy /swarmhost1 swarmhost1:19999/ {
#    without /swarmhost1
#    transparent
#  }
#
#  proxy /swarmhost2 swarmhost2:19999/ {
#    without /swarmhost2
#    transparent
#  }
#
#  proxy /swarmhost3 swarmhost3:19999/ {
#    without /swarmhost3
#    transparent
#  }
}
