:80 {
    redir https://{hostonly}{uri}
    tls off
}

:443 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    tls self_signed
    root /www
}

:3000 {
    proxy / grafana:3000 {
            transparent
            websocket
        }

    errors stderr
    tls self_signed
}

:9090 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / prometheus:9090 {
            transparent
        }

    errors stderr
    tls self_signed
}

:9091 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / pushgateway:9091 {
            transparent
        }

    basicauth /metrics/job/ {$PUSH_USER} {$PUSH_PASSWORD}
    proxy /metrics/job/ pushgateway:9091 {
            transparent
        }

    errors stderr
    tls self_signed
}

:9092 {
    proxy / swarmpit-app:8080 {
            transparent
            websocket
        }

    errors stderr
    tls self_signed
}


:9093 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / alertmanager:9093 {
            transparent
        }

    errors stderr
    tls self_signed
}

:9094 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / unsee:8080 {
            transparent
        }

    errors stderr
    tls self_signed
}

:9095 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / alertmanagerB:9093 {
            transparent
        }

    errors stderr
    tls self_signed
}
